/* Configuraçao geral da página */ 
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo padrão dos botões */
button{
    cursor:pointer;
}

/* Efeito ao passar o mouse */

button:hover{
    opacity:0.9;
}
